{% extends 'base.html' %} {% block title %}Artistas{% endblock %} 
{% block content %}
<div class="w-full mx-auto p-8">
  <div class="flex flex-wrap justify-between items-center gap-4 mb-8">
    <div class="flex flex-col gap-2">
      <h1
        class="text-white text-4xl font-black leading-tight tracking-[-0.033em]"
      >
        Artistas
      </h1>
      <p class="text-[#92a4c9] text-base font-normal leading-normal">
        Gestiona y organiza los artistas en tu catálogo.
      </p>
    </div>
    <div class="flex gap-2">
        <div class="flex items-center gap-8 min-w-[330px] w-full">
          <form method="get" class="w-full">
            <label class="flex flex-col min-w-40 !h-10 w-full">
              <div class="flex w-full flex-1 items-stretch rounded-lg h-full">
                <div
                  class="text-[#92a4c9] flex border-none bg-[#232f48] items-center justify-center pl-4 rounded-l-lg border-r-0"
                >
                  <span class="material-symbols-outlined">search</span>
                </div>
                <input
                  name="query_artists"
                  value="{{ request.GET.query_artists|default_if_none:'' }}"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border-none bg-[#232f48] focus:border-none h-full placeholder:text-[#92a4c9] px-4 rounded-l-none border-l-0 pl-2 text-base font-normal leading-normal"
                  placeholder="Buscar Artistas (nombre, país, género)..."
                />
              </div>
            </label>
          </form>
        </div>
    {% if request.user.is_staff %}
    <button
      class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-primary text-white text-sm font-bold leading-normal tracking-[0.015em]"
    >
      <a href="{% url 'artist_add' %}" class="truncate">Agregar Artista</a>
    </button>
    {% endif %}
    </div>
  </div>
  <div
    class="flex overflow-hidden rounded-xl border border-[#324467] bg-[#111722]"
  >
    <table class="w-full text-left">
      <thead class="bg-[#192233]">
        <tr>
          <th class="px-6 py-4 text-white text-sm font-medium leading-normal">
            NOMBRE DEL ARTISTA
          </th>
          <th class="px-6 py-4 text-white text-sm font-medium leading-normal">
            PAÍS
          </th>
          <th class="px-6 py-4 text-white text-sm font-medium leading-normal">
            AÑO DE DEBUT
          </th>
          <th class="px-6 py-4 text-white text-sm font-medium leading-normal">
            GÉNERO
          </th>
          <th
            class="px-6 py-4 text-white text-sm font-medium leading-normal"
          ></th>
        </tr>
      </thead>
      <tbody class="divide-y divide-[#324467]">
        {% for artist in artists %}
        <tr class="hover:bg-[#192233]/50 transition-colors">
          <td class="px-6 py-4 text-white text-sm font-normal leading-normal">
            {{ artist.name }}
          </td>
          <td
            class="px-6 py-4 text-[#92a4c9] text-sm font-normal leading-normal"
          >
            {{ artist.country }}
          </td>
          <td
            class="px-6 py-4 text-[#92a4c9] text-sm font-normal leading-normal"
          >
            {{ artist.debut_year }}
          </td>
          <td class="px-6 py-4">
            <span
              class="inline-flex items-center px-3 py-1 rounded-full text-sm font-medium bg-primary/20 text-primary"
              >{{ artist.genre }}</span
            >
          </td>
          <td class="px-6 py-4 text-right">
            <a href="{% url 'artist_edit' artist.pk %}"
              class="text-primary hover:text-white text-sm font-bold leading-normal tracking-[0.015em]"
            >
              Editar
            </a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td
            colspan="5"
            class="px-6 py-4 text-white text-sm font-normal leading-normal"
          >
            No hay artistas registrados
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- <div class="flex items-center justify-center p-4 mt-4">
    <a
      class="flex size-10 items-center justify-center text-[#92a4c9] hover:text-white"
      href="#"
    >
      <span class="material-symbols-outlined">chevron_left</span>
    </a>
    <a
      class="text-sm font-bold leading-normal tracking-[0.015em] flex size-10 items-center justify-center text-white rounded-full bg-primary"
      href="#"
      >1</a
    >
    <a
      class="text-sm font-normal leading-normal flex size-10 items-center justify-center text-white rounded-full hover:bg-primary/30"
      href="#"
      >2</a
    >
    <a
      class="text-sm font-normal leading-normal flex size-10 items-center justify-center text-white rounded-full hover:bg-primary/30"
      href="#"
      >3</a
    >
    <span
      class="text-sm font-normal leading-normal flex size-10 items-center justify-center text-white rounded-full"
      >...</span
    >
    <a
      class="text-sm font-normal leading-normal flex size-10 items-center justify-center text-white rounded-full hover:bg-primary/30"
      href="#"
      >8</a
    >
    <a
      class="text-sm font-normal leading-normal flex size-10 items-center justify-center text-white rounded-full hover:bg-primary/30"
      href="#"
      >9</a
    >
    <a
      class="text-sm font-normal leading-normal flex size-10 items-center justify-center text-white rounded-full hover:bg-primary/30"
      href="#"
      >10</a
    >
    <a
      class="flex size-10 items-center justify-center text-[#92a4c9] hover:text-white"
      href="#"
    >
      <span class="material-symbols-outlined">chevron_right</span>
    </a>
  </div>
</div> -->
{% endblock %}
